<h3>
  {{ title }}
</h3>
<input type = "text" name = "employeeName" placeholder = "Employee Name" [(ngModel)] = "info.employeeName">
<button (click) = "add()">ADD</button>
<div *ngFor = "let x of tableData ; let i = index">
  <input type = "checkbox" name = "id" [(ngModel)] = "x.id">
  <span>{{x.employeeName}}</span>
  <button (click)=  "delete(i)">DELETE</button>
</div>
<div>
  <button (click) = "all()">ALL</button>
  <button (click) = "active()">ACTIVE</button>
  <button (click) = "complete()">COMPLETE</button>
</div>
